body {
    min-height: 100vh;
    width: 100%;
    position: relative;
}

body.fixed {
    position: fixed;
}

#top_image {
    width: 100%;
}

.top_image1,
.top_image2,
.top_image3 {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    visibility: visible;
    transition: opacity;
    transition-duration: 1s;
    opacity: 1;
}

.top_image1.hidden,
.top_image2.hidden,
.top_image3.hidden {
    visibility: hidden;
    opacity: 0;
    position: fixed;
}