.news_items{
    height: 210px;
}
.news_item{
    border: 3px solid #4682b4;
    border-radius: 5px;
    height: 180px;
    width: 240px;
    box-sizing: border-box;
}
.news_item_link{
    display: block;
    height: 100%;
    width: 100%;
    padding: 10px 5px;
}
.news_item h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    height: 45px;
}
.news_item p{
    font-size: 18px;
    line-height: 1.4rem;
    word-break: break-all;
    height: 80px;
    padding: 0 5px;
}
.news_item h6{
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    margin-top: 10px;
    margin-left: auto;
    background-color: darkcyan;
    color: white;
    width: 110px;
    height: 20px;
    border-radius: 3px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.carousel_prev_btn,
.carousel_next_btn{
    background-color: transparent;
    color: red;
    border: 3px solid red;
    font-weight: bold;
}
#news_index_btn{
    height: 50px;
    max-width: 300px;
    width: 100%;
    margin: 100px auto 50px;
    background-color: tomato;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 4px 4px 4px #ccc;
}
#news_index_btn a{
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: white
}
.news_item_none{
    text-align: center;
    font-weight: bold;
}