.breadcrumb{
  display: inline-block;
  margin: 0 10px;
}
.breadcrumb>a,
.breadcrumb>p{
  display: inline;
  padding: 0 10px;
  width: 100%;
  line-height: 30px;
}
.breadcrumb>a{
  color: #1e90ff;
  text-decoration: underline;
}
.breadcrumb>p{
  color: #696969;
}