/* ニュース入力画面 */
.news_input_form{
    margin: 50px auto;
    font-size: 1.5rem;
}
.news_input_form h1{
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 1.7rem;
}
.news_input_form input,
.news_input_form textarea{
    margin-top: 10px;
    font-size: 1rem;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(158, 158, 158);
    border-radius: 5px;
}
.news_input_form input{
    height: 50px;
    width: 100%;
    padding: 0 10px;
    z-index: 5;
}
#news_input_form_input{
    display: block;
}
#news_input_form_input.hidden{
    display: none;
}
.news_input_form textarea{
    height: 200px;
    width: 100%;
    padding: 10px;
}
.news_input_title,
.news_input_content{
    margin: 10px;
}
.news_input_title label,
.news_input_content label{
    font-weight: 800;
}
#news_input_title_error,
#news_input_content_error{
    height: 20px;
    margin-top: 5px;
    font-size: 18px;
    color: rgb(226, 17, 58);
}
.news_input_confirm_submit{
    height: 50px;
    width: 300px;
    margin: 50px auto;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px #ccc;
    position: relative;
}
#news_input_confirm_btn{
    height: 100%;
    width: 100%;
    font-weight: 800;
    text-align: center;
    line-height: 50px;
    letter-spacing: 5px;
    color: #2f4f4f;
    background-color: rgb(198, 230, 17);
    position: absolute;
    top: 0;
    z-index: 1;
}
#news_input_confirm_btn.hidden{
    background-color: #d3d3d3;
    color: white;
}
/* 確認画面 */
#news_input_form_confirm{
    display: block;
}
#news_input_form_confirm.hidden{
    display: none;
}
#news_input_form_input h2,
#news_input_form_confirm h2{
    text-align: center;
    font-weight: 800;
    font-size: 1.5rem;
}
#news_input_form_input h2 .material-icons,
#news_input_form_confirm h2 .material-icons{
    position: relative;
    top: 3px;
    color: tomato;
}
.news_input_title_confirm,
.news_input_content_confirm{
    margin: 30px 10px;
}
.news_input_title_confirm label,
.news_input_content_confirm label{
    font-weight: 800;
}
#news_input_title_confirm_text,
#news_input_content_confirm_text{
    margin: 10px 10px 0;
    word-break: break-all;
}

/* 送信ボタン */
.news_input_submit{
    height: 50px;
    width: 300px;
    margin: 50px auto 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px #ccc;
    position: relative;
}
#news_input_submit_btn{
    height: 100%;
    width: 100%;
    font-weight: 800;
    text-align: center;
    line-height: 50px;
    letter-spacing: 5px;
    color: #2f4f4f;
    background-color: rgb(198, 230, 17);
    position: absolute;
    top: 0;
    z-index: 1;
}
#news_input_submit_btn:disabled{
    background-color: #d3d3d3;
    color: white;
}
.news_input_return{
    height: 50px;
    width: 300px;
    margin: 50px auto;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px #ccc;
    position: relative;
}
#news_input_return_btn{
    height: 100%;
    width: 100%;
    font-weight: 800;
    text-align: center;
    line-height: 50px;
    letter-spacing: 5px;
    color: white;
    background-color: rgb(230, 17, 230);
    position: absolute;
    top: 0;
    z-index: 1;
    border-radius: 8px;
}