.item_container{
    display: block;
}
.blog_item{
    display: block;
    height: 500px;
    width: 300px;
    padding: 10px 5px;
    margin: 0 auto;
    border: 2px solid #afeeee;
    box-shadow: 3px 3px 2px #e0ffff;
    border-radius: 5px;
}
.blog_item:nth-child(n + 2){
    margin: 30px auto 0;
}
.item_title{
    display: block;
    width: 100%;
    padding: 0 10px;
    font-size: 24px;
    font-weight: bold;
    height: 65px;
    padding: 5px 0;
}
.item_supplement{
    display: flex;
    margin: 5px 0 10px;
}
.item_supplement .supplement_row{
    display: flex;
    align-items: center;
}
.item_supplement .supplement_row .material-icons{
    color: #5f9ea0;
    padding: 0 3px 0 5px;
}
.item_supplement .supplement_row .item_date,
.item_supplement .supplement_row .item_category,
.item_supplement .supplement_row .item_nice{
    font-size: 16px;
}
.item_img{
    display: block;
    height: 200px;
    width: 280px;
    margin: 0 auto;
}
.item_text{
    display: block;
    width: 100%;
    padding: 10px 5px;
    font-size: 20px;
}
@media screen and (min-width: 600px){
    .item_container{
        display: grid;
        grid-template-columns: repeat(auto-fit, 300px);
        grid-gap: 20px;
        justify-content: center;
        padding: 0 20px;
    }
    .blog_item,
    .blog_item:nth-child(n + 2){
        margin: 0;
    }
}
@media screen and (min-width: 1000px){
    .item_container{
        padding: 0;
    }
    .blog_item,
    .blog_item:nth-child(n + 2){
        margin: 0;
    }
}