.item_container{
    display: block;
}
.blog_item{
    display: block;
    height: 500px;
    width: 330px;
    padding: 10px 5px;
    margin: 0 auto;
    border: 2px solid #afeeee;
    box-shadow: 3px 3px 2px #e0ffff;
    border-radius: 5px;
}
.blog_item:nth-child(n + 2){
    margin: 30px auto 0;
}
.blog_item .material-icons{
    color: #5f9ea0;
}
.item_title{
    display: block;
    width: 100%;
    padding: 0 10px;
    font-size: 24px;
    font-weight: bold;
    height: 65px;
    padding: 5px 0;
}
.item_center{
    height: 150px;
    width: 100%;
    display: flex;
}
.item_img{
    display: block;
    height: 150px;
    width: 200px;
}
.item_right{
    height: 100%;
    width: 100%;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.item_date{
    font-size: 16px;
}
.item_category,
.item_nice{
    font-size: 18px;
}
.item_text{
    display: block;
    width: 100%;
    padding: 10px 5px;
    font-size: 20px;
}
@media screen and (min-width: 700px){
    .item_container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 20px;
    }
    .blog_item,
    .blog_item:nth-child(n + 2){
        margin: 20px 0;
    }
}
@media screen and (min-width: 1000px){
    .item_container{
        padding: 0;
    }
    .blog_item,
    .blog_item:nth-child(n + 2){
        margin: 0;
    }
}