main h1{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.text_link{
    color: blue;
    text-decoration: underline;
    word-break: break-all;
}
.text_link_line{
    display: inline-block;
    margin: 10px;
}
section{
    width: 100%;
    padding: 20px;
    margin: 0 auto;
}
section h3{
    font-size: 20px;
    font-weight: bold;
    display: block;
    width: 100%;
    position: relative;
    padding: 5px;
    border-left: 5px solid #3cb371;
    border-bottom: 3px solid #2e8b57;
    border-radius: 3px;
}
section li{
    list-style: outside;
    margin-left: 20px;
    font-size: 18px;
    line-height: 1.6rem;
    padding: 5px;
}
section p{
    margin: 10px 0;
    font-size: 19px;
    line-height: 1.5rem;
}
@media screen and (min-width: 700px){
    section{
        width: 650px;
    }
}