.blog_comment_container{
    width: 350px;
    margin: 0 auto;
}
.blog_comment_cassete{
    width: 100%;
    margin-bottom: 40px;
}
.blog_comments,
.blog_comments_{
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    height: 100%;
}
.blog_comments{
    width: 100%;
    background-color: pink;
}
.blog_comments_{
    width: 80%;
    margin-left: auto;
    background-color: greenyellow;
}
.comment_name_read{
    display: flex;
    height: 40px;
}
.blog_comments h6,
.blog_comments_ h6{
    font-size: 20px;
    font-weight: bold;
    line-height: 35px;
}
.blog_comments_ h6{
    margin-left: auto;
}
.comment_id{
    line-height: 35px;
    margin-left: 20px;
}
.blog_comments .comment_status,
.blog_comments_ .comment_status{
    display: block;
    height: 35px;
    width: 55px;
    margin-left: auto;
    text-align: center;
    line-height: 35px;
    border-radius: 8px;
    background-color: #dcdcdc;
    font-size: 16px;
}
.blog_comments p,
.blog_comments_ p{
    font-size: 18px;
}
.comment_reply{
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}