h1{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.owner_link_area{
    padding: 20px 0;
}
.owner_content_btn,
.logout_btn{
    display: block;
    height: 40px;
    width: 300px;
    margin: 30px auto;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px #ccc;
    font-size: 20px;
    font-weight: 800;
    line-height: 40px;
    text-align: center;
}
.owner_content_btn{
    color: white;
    background-color: limegreen;
}