header{
    height: 60px;
    width: 100%;
    padding: 0 10px ;
    background-color: #161616;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header.hidden{
    background-color: white;
}
header a{
    display: block;
}
.header_left{
    height: 40px;
    width: 40px;
}
.header_left img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.header_center{
    height: 40px;
    line-height: 40px;
}
.header_center #header_center_title{
    font-size: 30px;
    font-weight: 600;
    color: yellow;
    display: flex;
    justify-content: center;
    letter-spacing: 3px;
}
.header_center #header_center_title.hidden{
    color: #0000ff;
}
.header_center #header_center_title p{
    margin: 0;
    padding: 0;
}
.header_right{
    height: 40px;
    line-height: 40px;
}
.header_right span{
    font-size: 40px;
    color: whitesmoke;
    float: right;
}
#header_menu_open,
#header_menu_close{
    transform: rotate(0);
    opacity: 1;
    display: block;
    visibility: visible;
    transition-property: transform 1s, opacity;
    transition-duration: 1s;
}
#header_menu_close{
    color: #ff1493;
}
#header_menu_open.hidden,
#header_menu_close.hidden{
    transform: rotate(90deg);
    opacity: 0;
    visibility: hidden;
    position: absolute;
}
#header_menu_mask{
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
}
#header_menu_mask.hidden{
    display: none;
}
.header_menubar{
    min-height: calc(100vh - 60px);
    width: 270px;
    background-color: white;
    margin-left: auto;
    padding: 30px 20px;
    z-index: 5;
    position: fixed;
    top: 60px;
    right: 0;
    transform: translateX(0);
    transition-property: all;
    transition-duration: .7s;
    overflow: hidden;
}
.header_menubar.hidden{
    transform: translateX(100%);
}
.header_menubar li{
    height: 50px;
    width: 100%;
    margin-bottom: 30px;
    font-size: 28px;
}
.header_menubar li a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 50px;
    border-radius: 5px;
    background-color: #e0ffff;
}
.header_menubar li span,
.header_menubar li p{
    display: inline;
    margin-left: 10px;
}
.header_menubar li span{
    color: #ff7f50;
}
@media screen and (min-width: 500px){
    .header_right span{
        cursor: pointer;
    }
}